
*~
._*
*$py.class
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
build/
# Byte-compiled / optimized / DLL files
.cache
celerybeat.pid
celerybeat-schedule
# Celery stuff
# C extensions
*.cover
.coverage
.coverage.*
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
# Distribution / packaging
# Django stuff:
.dmypy.json
dmypy.json
docs/_build/
downloads/
.DS_Store
.DS_Store?
*.egg
*.egg-info/
.eggs/
eggs/
ehthumbs.db
.env
env/
ENV/
env.bak/
# Environments
# Flask stuff:
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
htmlcov/
.hypothesis/
# IDE
.idea/
#   install all needed dependencies.
.installed.cfg
# Installer logs
instance/
.ipynb_checkpoints
# IPython
ipython_config.py
# Jekyll
.jekyll-cache/
.jekyll-metadata
junit/
# Jupyter Notebook
lib/
lib64/
local_settings.py
*.log
*.manifest
MANIFEST
# mkdocs documentation
*.mo
# mypy
.mypy_cache/
nosetests.xml
.nox/
# OS
parts/
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
pip-delete-this-directory.txt
# pipenv
#Pipfile.lock
pip-log.txt
pip-wheel-metadata/
*.pot
profile_default/
# PyBuilder
__pycache__/
*.py[cod]
*.py,cover
# pyenv
# PyInstaller
__pypackages__/
.pyre/
# Pyre type checker
.pytest_cache/
.Python
.python-version
.ropeproject
# Rope project settings
# SageMath parsed files
*.sage.py
.sass-cache/
.scrapy
# Scrapy stuff:
sdist/
share/python-wheels/
/site
_site/
*.so
*.spec
# Sphinx documentation
.Spotlight-V100
.spyderproject
# Spyder project settings
.spyproject
*.swo
*.swp
target/
*.temp
# Temporary files
# Test artifacts
Thumbs.db
*.tmp
.tox/
# Translations
.Trashes
# Unit test / coverage reports
#  Usually these files are written by a python script from a template
var/
.venv
venv/
venv.bak/
.vscode/
.webassets-cache
wheels/
